{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}{% endblock %}

{% block body %}

    {% if futureEventList is empty %}
        <div class="mini">
            <div class="container_login">
                <div></div>
                <p style="text-align: center" class="alert alert-warning">
                    Il n'y a actuellement aucun évènement a venir
                </p>
                <div></div>
            </div>
        </div>
    {% else %}
        <h3 style="margin-bottom: 20px;margin-left:20%;margin-right:20%;margin-top:10px;text-align: center"
            class="alert-secondary alert">Liste des evénements à venir :</h3>
        <div style="height: 20px"></div>
        <div class="contener_objet">
        {% for event in futureEventList %}
            <div class="objet ">

            <a href="#"><img class="imagee" src="{{ asset('Image/Event/'~event.picture) }}"></a>
            <p style="font-size: 25px" class="titre alert alert-primary">{{ event.title }}
                le {{ event.eventDate|date("d/m/Y") }} à {{ event.eventDate|date("H:i") }}</p>
            <p> {{ event.description }}<br/><br/></p>
            <div class="participe alert alert-info ">

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% if  event.usersParticipate|length == 0 %}
                    Soyez le premier a participer a cet evenement pour seulement :
                {% elseif event.usersParticipate|length == 1 and not event.usersParticipate.contains(user) %}
                    {{ event.usersParticipate|length }} Personne participe actuellement a cet evenement, rejoignez la pour seulement :
                {% elseif  event.usersParticipate|length > 1 %}
                    Actuellement, {{ event.usersParticipate|length }} personnes participent a cet evenements rejoignez les pour seulement :
                {% else %}
                    Prix de l'évènement :
                {% endif %}
                {{ event.price }} € <br/>
                </div>

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <button type="button" class="btn btn-danger"
                            onclick="ajaxToggleParticipate('{{ url('event_toggle_participate', {'idEvent': event.id}) }}', this)"
                            style="margin:20px;padding-right: 25px;padding-left: 25px">

                        {% if event.usersParticipate.contains(user) %}
                            Je ne participe plus...
                        {% else %}
                            Je participe !
                        {% endif %}

                        <span class="badge badge-light">{{ event.usersParticipate|length }}</span>

                    </button>
                {% endif %}

                {% if is_granted('ROLE_CESI') %}

                    <button class="btn btn-danger btn-compte"
                            onclick="ajaxBoutonEvent('{{ url('moderation_event_warn', {'idEvent': event.id}) }}', this)">
                        Signaler <i class="fa fa-exclamation" style="font-size:20px"></i></button>
                {% endif %}

            {% else %}
                Pour pouvoir participer vous devez être connecté :</div>
                <a href="{{ url('login') }}">
                    <button type="button" class="btn btn-danger conn">Connexion/Inscription</button>
                </a>
            {% endif %}
            {% if is_granted('ROLE_BDE') %}
                <a href="{{ url('download_csv', {'idEvent': event.id}) }}">
                    <button class="btn btn-danger btn-compte">Récuperer les participants</button>
                </a>
            {% endif %}

            </div>
        {% endfor %}
        </div>
    {% endif %}





{% endblock %}
