{% extends 'base.html.twig' %}

{% block title %}Boite à Idée - {{ parent() }}{% endblock %}

{% block body %}
    {% if ideaEventList is empty %}
<div class="container_login">
    <div ></div>
        <p style="text-align: center" class="alert alert-warning">
            Il n'y a actuellement aucun évènement dans la boite à idée
        </p>
    <div></div>
</div>
    {% else %}
        <h3 style="margin-bottom: 20px;margin-left:20%;margin-right:20%;margin-top:10px;text-align: center" class="alert-secondary alert">La boite a idées :</h3>
        <div style="height: 20px"></div>
        <div class="contener_objet" >
        {% for ideaEvent in ideaEventList %}
            <div class="objet ">
                <a href="#"><img class="imagee" src="{{ asset('Image/Event/'~ideaEvent.picture)}}"></a>
                <p style="font-size: 25px" class="titre alert alert-primary">{{ ideaEvent.title }}</p>
                <p >{{ ideaEvent.description }}</p>
                <p class="nom"> Proposé par : {{ ideaEvent.userOwner.firstName }}
                 {{ ideaEvent.userOwner.lastName }}</p>

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% if ideaEvent.usersVote.contains(user) %}
                        <button class="btn btn-danger btn-compte" onclick="ajaxBoutonEvent('{{ url('idea_event_remove_vote', {'idIdeaEvent': ideaEvent.id}) }}', this)">Retirer mon vote</button>
                    {% else %}
                        <button class="btn btn-danger btn-compte" onclick="ajaxBoutonEvent('{{ url('idea_event_add_vote', {'idIdeaEvent': ideaEvent.id}) }}', this)">Voter pour l'idée</button>
                    {% endif %}
                {% endif %}

                {% if is_granted('ROLE_BDE') %}
                    <a href="{{ url('idea_event_acceptation',{"idIdeaEvent": ideaEvent.id}) }}" ><button class="btn btn-danger btn-compte">Accepter l'idée</button></a>
                {% endif %}
            </div>
        {% endfor %}
       </div>
    {% endif %}

<div class="container_login">
    <div ></div>
    <form name="idea_event_form" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="idea_event_form_title" class="required">Nom de l'évènement:</label>
            <input type="text" onblur="verif(this)" id="idea_event_form_title" name="idea_event_form[title]" required="required" class="form-control" >
        </div>
        <div class="form-group">
            <label for="idea_event_form_description" class="required">Description:</label><br/>
            <textarea class="form-control" onblur="verif(this)" id="idea_event_form_description" name="idea_event_form[description]" required="required"></textarea>
        </div>
        <div class="conins">

            <input type="file" class="form-control-file" id="idea_event_form_pictureFile" name="idea_event_form[pictureFile]" required="required">  <br/>

            <button type="submit" class="btn btn-danger logi conins">Enregistrer</button>
        </div>
        <input type="hidden" id="idea_event_form__token" name="idea_event_form[_token]" value="{{ csrf_token('idea_event_form') }}">
    </form>
    <div ></div>
</div>
{% endblock %}
