{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}

    <input id="search" type="search" placeholder="Entrez un mot-clef" name="the_search">

   {# <div class="container_login">
        {% for goodies in goodiesList %}
        <div class="element">
            <img class="goodies"src="{{ asset('Image/Goodies/'~goodies.PictureFileName)}}" />
            {{ goodies.name }} : ({{  goodies.price}}€){{  goodies.description }}
        </div>
        {% endfor %}
        </div>#}
    <div class="elem">
        {% for goodies in goodiesList %}
            <div style="width: 25%;text-align: center;margin-bottom: 50px">
     <img class="goodies"src="{{ asset('Image/Goodies/'~goodies.Picture)}}"  /><br/>
     <div class="desc"> {{  goodies.description }}</div><div class="nomprix">{{ goodies.name }} : ({{  goodies.price}}€)</div>
                <div class="input-group mb-3" style=" width: 170px;margin-left: 28%">
                    <div class="input-group-prepend">
                        <input type="number" class="form-control text-center" value="1" style=" width: 80px;">
                    </div>
                    <button class="btn btn-outline-secondary" type="button">Acheter</button>
                </div>
            </div>

{% endfor %}
</div>


{#  <div style="height: 20px"></div>
<div class="contener_objet" >
{% for ideaEvent in ideaEventList %}
   <div class="objet ">
       <a href="#"><img class="imagee" src="{{ asset('Image/Event/'~ideaEvent.picture)}}"></a>
       <p style="font-size: 25px" class="titre alert alert-primary">{{ ideaEvent.title }}</p>
       <p class="description ">{{ ideaEvent.description }}</p>
       <p class="nom"> Proposé par : {{ ideaEvent.userOwner.firstName }}
           {{ ideaEvent.userOwner.lastName }}</p>
   </div>
{% endfor %}
</div>
#}
{% endblock %}