{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}{% endblock %}

{% block body %}
    {#{{ cart.user.firstName }}#}
    <h3 style="margin-bottom: 20px;margin-left:20%;margin-right:20%;margin-top:10px;text-align: center"
        class="alert-secondary alert">Mon panier :</h3>
    <div class="container_panier">

        {% set totalPrice = 0 %}
        {% for cartGoodie in cartGoodies %}
            {% if cart.state == 0 %}
                {% set totalPrice = totalPrice + cartGoodie.quantity * (cartGoodie.goodies.price) %}
            {% else %}
                {% set totalPrice = totalPrice + cartGoodie.quantity * (cartGoodie.price) %}
            {% endif %}
            <div class="tout">
                {% if cart.state == 0 %}
                    <button type="button"
                            onclick="ajaxDeleteGoodies('{{ url('cart_remove_goodies', {'idGoodies': cartGoodie.goodies.id}) }}', this)"
                            class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                {% endif %}
                <img class="goodies" src="{{ asset('Image/Goodies/'~cartGoodie.goodies.Picture) }}"/><br/>
                <div class="desc"> {{ cartGoodie.goodies.description }}</div>
                <div class="nomprix">{{ cartGoodie.goodies.name }} : ({{ cartGoodie.goodies.price }}€)</div>
                <div class="input-group mb-3 achat">
                    {% if cart.state == 0 %}
                        <div class="input-group-prepend centrer" style="max-width: 80px;width: auto; margin-left: 22%">
                            <input type="number" class="form-control text-center" value="{{ cartGoodie.quantity }}"
                                   style=" "
                                   onchange="ajaxChangeGoodies('{{ url('cart_change_goodies', {'idGoodies': cartGoodie.goodies.id, 'quantity': 1}) }}', this, this.value)"
                                   oninput="ajaxChangeGoodies('{{ url('cart_change_goodies', {'idGoodies': cartGoodie.goodies.id, 'quantity': 1}) }}', this, this.value)"
                                   onselect="ajaxChangeGoodies('{{ url('cart_change_goodies', {'idGoodies': cartGoodie.goodies.id, 'quantity': 1}) }}', this, this.value)">
                        </div>
                    {% else %}
                        <div class="input-group-prepend centrer">
                            <span class="badge badge-danger droite">Quantité : {{ cartGoodie.quantity }}</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="prix alert alert-success">Prix total du panier : <strong class="cart-total-price" >{{ totalPrice }}</strong> €</div>

    {% if cart.state == 0 %}
        <a href="{{ path('purchase_confirmation') }}">
            <button type="button" class="btn btn-danger cent ">Valider ma commande !</button>
        </a>
    {% endif %}

{% endblock %}

{% block js %}

{% endblock %}